*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html, body{                 /*HTML use na korle fullscreen e height pae na */
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}
.header{
    height: 100%;
    background-image: url("images/landscape-moon-digital-evening-5k-uz-3840x2160.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.navbar-ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.navbar-ul li{
    color: white;
    font-size: 1em;
    font-weight: 900;
    padding: 10px 20px;
    margin: 15px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6d3;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4dfff6,  0 0 40px #4dfff6;
    }
  }

.a{
    color: white;
}
.a:hover{
    color: #4dfff6;
}

.footer{
    color: white;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    text-align: right;
}
.footer p a{
    color: white;
    text-decoration: none;
}
.footer p a:hover{
    color: #00ffd5;
}
.footer .social-icon-ul{
    display: flex;
    list-style: none;
}
.footer .social-icon-ul li{
    width: 25px;
    margin: 0 5px;
}
.footer .social-icon-ul li img:hover{
    background-color: #00ffd5;
    border-radius: 12%;
}
.footer .social-icon-ul li img{
    width: 100%;
}
.footer .social-icon{
    padding: 0 5%;
}
.box-area{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: #003054;
    animation: animate 20s linear infinite;
    bottom:-150px ;
}
.box-area li:nth-child(1){
    left: 87.5%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 40%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
.box-area li:nth-child(7){
    left: 54%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 12s;
}
.box-area li:nth-child(8){
    left: 30%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 10s;
}
.box-area li:nth-child(9){
    left: 96%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
}
.box-area li:nth-child(10){
    left: 80%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 10s;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
.banner-text{
    width: 60%;
    padding: 10% 6%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner-text h1{
    font-size: 4em;
    font-weight: 900;
    text-shadow: 5px 5px 20px gray;
    padding: 5px 0;
}
.banner-text p{
    line-height: 28px;
}

.hire-me{
	border-radius: 12px;
	border: 3px outset #00589b;
	position: relative;
	display: inline-block;
	padding: 10px 20px;
    margin-top: 20px;
	color: #eee;
	overflow: hidden;
	box-shadow: 0 0 10px rgb(0, 0, 0, 1);
	font-family: verdana;
	font-size: 28px;
	font-weight: bolder;
	text-decoration: none;
	background:linear-gradient(160deg, #004377, #003054);
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
	transition: 0.2s;

}
.hire-me:active {
	border: 3px outset #1578c4;
	color: #fff;
	background: linear-gradient(160deg, #004377, #003054);
	text-shadow: 0px 0px 4px #ccc;
	box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
	transition-delay: 1s;
}

.hire-me span {
	position: absolute;
	display: block;
}

.hire-me span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #eee);
}
.hire-me:active span:nth-child(1) {
	left: 100%;
	transition: 1s;
}
.hire-me span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #eee);
}
.hire-me:active span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.hire-me span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #eee);
}
.hire-me:active span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.hire-me span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #eee);
}
.hire-me:active span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}



/* Popup start from here */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup .popup-div {
    visibility: hidden;
    width: 450px;
    height: 380px;
    background-color: rgb(25,102,122, 0.5);
    color: #fff;
    border: 5px solid #19667a;
    border-color: #19667a #19667a transparent #19667a ;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    z-index: 1;
    top: 700%;
    margin-left: -80px;
  }
  .popup .popup-div::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    margin-left: -40px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent #19667a transparent;
  }
  .popup .popup-div .popup-p{
    text-shadow: none;
    line-height: 26px;
    text-align: justify;
    text-shadow: 1px 1px 2px black;
}

/* Popup for Contact  */
  .popup-contact .popup-contact-div{
    left: -490%;
  }
  .popup-contact .popup-contact-div::after{
    left: 80%;
  }

  /* Popup for Blog*/
  .popup-blog .popup-blog-div {
    left: -580%;
  }
  .popup-blog .popup-blog-div::after {
    left: 50%;
  }

  /* Popup for Services*/
  .popup-service .popup-service-div {
    left: -580%;
  }
  .popup-service .popup-service-div::after {
    left: 50%;
  }

  /* Popup for About*/
  .popup-about .popup-about-div {
    left: -580%;
  }
  .popup-about .popup-about-div::after {
    left: 50%;
  }
  
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }